<div class="contain-all light-mode" [ngClass]="isDarkTheme ? 'dark-mode' : 'light-mode'">
    <div>
        <header class="header">
            <span class="heading-title">Quotes sharing app</span>
            <button class="button-one actions" (click)="toggleTheme()">
    <span *ngIf="isDarkTheme">Use light theme</span>
    <span *ngIf="!isDarkTheme">Use dark theme</span>
</button>
            <nav class="navigation">
                <div *ngIf="isAuthenticated; then userLoggedIn; else showLoginAndSignUp"></div>
                <ng-template #userLoggedIn>
                    <p>
                        You logged in <em>{{ user.email }}!</em>
                    </p>
                    <button aria-label="Log out" (click)="logout()" class="button-one">
            Log out
          </button>
                </ng-template>
                <ng-template #showLoginAndSignUp>
                    <button aria-label="Log in" class="button-two actions" (click)="gotoLogin()">
            Login
          </button>
                    <button aria-label="Sign up" class="button-two actions" (click)="gotoSignUp()">
            Sign up
          </button>
                </ng-template>
            </nav>
        </header>
    </div>
    <hr />

    <div class="quotes-section">
        <app-quotes-list [userAuthenticated]="isAuthenticated"></app-quotes-list>
    </div>
</div>